@model IEnumerable<SubastaAutos.Application.DTOs.UsuarioDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Usuarios</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRolNavigation.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoUsuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.IdRolNavigation.Nombre)
            </td>
            <td>
                    @(item.EstadoUsuario ? "Activo" : "Deshabilitado")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
